html, body {
	background-color: black;
	background-image: url("assets/tweed.png");
	background-repeat: repeat;
	margin:0;
	min-height: 100%;
	color: #bcbbb7;
	font-family: 'EB Garamond', serif;
	margin-top: 0px; 
	clear: both;
}
	
	.wrapper{
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	.container{
		flex:1;
	}

	#footer{
		text-align: center;
		padding: 1%;
		font-size: 80%;
		font-family: 'EB Garamond', serif;
		color: #bcbbb7;
		background-color: rgba(0,0,0, 0.3);
		border-top: 1px dotted rgba(255,255,255, 0.3);
	}

	.content{
		padding-top: 1.5%;
		padding-bottom: 2%;
		padding-left: 2.2%;
		padding-right: 2.2%;
		font-size: 100%;
		margin-left: 3%;
		margin-top:3.1%;
		background-color: rgba(0,0,0, 0.35);
		float:left;		
		height: 100%;
		width:59.5%;
		border-radius: 10px;
		border: 1px dotted rgba(255,255,255, 0.35);
		box-shadow: 6px 4px 3px rgba(0,0,0, 0.3)
	}

	.content a{
		text-decoration: none;
		color: #993a3a;
		transition: .3s color;
	}

	.content a:hover{
		text-decoration: none;
		color: #dc3333;
		transition: .3s color;
	}

	.content .large_text{
		font-size: 145%;
	}


		button.portfolio{
			-moz-appearance: button;
	  		appearance: button;
		    background-color: transparent;
		    color: #bcbbb7;
			font-family: 'Julius Sans One', sans-serif;
		    padding: 2%;
		    width: 30%;
		    border: 3px double;
		    border-color: rgba(188,187,183, 0.6);
		    border-radius: 17px;
		    text-align: left;
		    outline: none;
		    font-size: 100%;
		    transition: 0.4s;
		    margin-top:0.5%;
		}

		button.portfolio.active, button.portfolio:hover {
		    background-color: rgba(225,225,225, 0.2);
		    border: 3px double;
		    border-color: rgba(188,187,183, 1);
		    border-radius: 6px;
		}

		/*GALLERY*/

		button.accordion {
	  		-moz-appearance: button;
	  		appearance: button;
		    background-color: transparent;
		    color: #bcbbb7;
			font-family: 'Julius Sans One', sans-serif;
		    padding: 2%;
		    width: 100%;
		    border: 3px double;
		    border-color: rgba(188,187,183, 0.6);
		    border-radius: 17px;
		    text-align: left;
		    outline: none;
		    font-size: 100%;
		    transition: 0.4s;
		    margin-top:0.5%;
		}

		button.accordion.active, button.accordion:hover {
		    /*background-color: rgba(153,58,58, 0);*/
		    background-color: rgba(225,225,225, 0.2);
		    border: 3px double;
		    border-color: rgba(188,187,183, 1);
		    border-radius: 6px;
		}

		div.panel {
		    padding: 0 0px;
		    background-color: rgba(0,0,0, 0);
		    max-height: 0;
		    overflow: hidden;
		    text-align: left;
		    transition: max-height 0.2s ease-out;
		    border-bottom-right-radius: 10px;
		    border-bottom-left-radius: 10px;
		    text-align: left;
		}


			div.infographic_thumb {
				width: 45%;
				padding-left: 0;
				padding-right: 0;
				padding-top: 1%;
				padding-bottom: 1%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
			}

			div.gallery_container {
				width: 100%;
				padding-left: 0%;
				padding-right: 0%;
				padding-top: 2%;
				padding-bottom: 2%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
			}


	/*.sidebar{
		padding: 1.5%;
		font-size: 100%;
		margin-left: 3%;
		margin-top:3%;
		background-color: rgba(0,0,0, 0.35);
		height: 100%;
		max-width: 25%;
		float:left;
		text-align: center;
	}*/

	.home_sidebar{
		padding: 0%;
		font-size: 140%;
		margin-left: 3%;
		margin-top:3%;
		background-color: transparent;
		height: 100%;
		width: 25%;
		float:left;
		text-align: center;
		text-shadow: 4px 3px 1px rgba(0,0,0, 0.6);
	}

	.home_sidebar a{
		color: #993a3a;
		text-decoration: none;
		transition: .3s color;
	}

	.home_sidebar a:hover{
		color: #dc3333;
		transition: .3s color;
		
	}

	.profile{
		max-width: 85%;
		border-radius: 25%;
		box-shadow: 6px 4px 3px rgba(0,0,0, 0.3), 0px 0px 2px 2px rgba(0,0,0, 0.25);
	}


	h1{
		color: #d7a838;
		font-family: 'Julius Sans One', sans-serif;
		font-size: 100%;
	}

	h2{
		font-family: 'EB Garamond';
		font-size: 100%;
		text-transform: uppercase;
	}

	hr.grey_rule {
	    border: 0;
	    height: 1px;
	    background: #333;
	    background-image: linear-gradient(to right, #333, #ccc, #333);
	}

	hr.red_rule {
		border:0;
		background-color: #993a3a;
		color: #993a3a;
		height: 3px;
	}

	.contact {
		font-size: 300%;
		text-align: center;
	}



#header{
	margin: 0;
	text-shadow: 4px 4px 0.5px #000;
	position: relative;
	z-index: 10;
	background-color: rgba(0,0,0, 0.35);
	border-bottom: 3px solid #993a3a;
	min-height: 17%;
	box-shadow: 6px 4px 4px rgba(0,0,0, 0.3);
}

	#header a{
		text-decoration: none;
		color: none;
	}

	.title{
		margin-left:2.7%;
		margin-bottom: -0.5%;
		font-size: 180%;
		font-family: 'EB Garamond', serif;
		color: #d7a838;
		margin-top: 0px;
		padding-top: 1.7%;
	}
		.title a{
			text-decoration: none;
			color: none;
			color: #d7a838;
		}


	.description{
		margin-left:2.7%;
		display: inline-block;
		line-height: 100%;
		min-width: 30%;

	}
		.description h2{
			font-size: 100%;
			font-family: 'Julius Sans One', sans-serif;
			color: #bcbbb7;
		}

	.menu {
		display:inline-block;
		font-family: 'Julius Sans One', sans-serif;
		color: #bcbbb7; 
		font-size:100%;
		width:50%;
	}

		.menu ul{
		display: flex;
    	width: 100%;
		flex-direction: row;
		flex-wrap:wrap;
		text-align: right;
		}
		.menu ul li{
			flex: 1 1 auto%;
			list-style: none;
			flex-grow: 1;
		}
			.menu ul li a{
				text-decoration: none;
				color: #bcbbb7;
				transition: .3s color;
			}

			.menu ul li a:hover{
				text-decoration: none;
				color: #ffffff;
				transition: .3s color;
			}







